#section_first{
    width: 100%;
    height: 140vh;
    display: flex;
    position: relative;
    background-color:#A988D2;
}

#div_first{
    width: 100%;
    height: fit-content;
    margin-top: 100px;
}

#contact_us{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

#contact_text{
    color: white;
    font-size: 40px;
    border-bottom-style: solid ;
    border-bottom-width: 1px;
}

#div_second{
    width: 100%;
    height:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-radius: 25%;
}

.text_contact{
    font-size: 20px;
    text-decoration: none;
    color: black;

}


#div_second_1{
     width: 40%;
    height: fit-content;
    background-color: #F0D9FF;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-image: url(../Images/vector_floral/22.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: left;
    background-blend-mode: multiply;
    background-position-x: -150px;
    background-position-y: -45px;
}


#div_second_2{
    margin-top: 50px;
}

#text{
    font-size: 28px;
}



#div_second_3{
    margin-top: 150px;
}


#div_second_4{
    margin-top: 50px;
}

#div_second_5{
    width: 250px;
    height: 250px;
    background-image: url(../Images/cake_imgs/landing_cake.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 50px;
}


#div_third{
    width: 40%;
    height: fit-content;
    background-color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#form{
    width: 100%;
    height: fit-content;
    background-color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    gap: 20px;
    margin: 60px 0px;
}

input[type=text], select, textarea{
    width: 70%;
    padding: 12px;
    border: 3px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    resize: vertical;
  }

  #btn_submit{
      padding: 5px 10px;
      background-color: #7B1B35;
      color: white;
      border-radius: 50px;
  }

  .input{
    background-color:#F0D9FF;
  }


  @media only screen and (max-width:1100px) {
    #div_second_1{
        background-size: 350px;
        background-position-y: 0px;
        background-position-x: -160px;
    }


}


@media only screen and (max-width:900px) {

    #div_second_1{
        background-size: 320px;
        background-position-y: 20px;
        background-position-x: -160px;
    }


    .text_contact{
        font-size:16px ;
    }

    #form{
        margin: 54px ;
    }

}

@media only screen and (max-width:650px){
    .text_contact{
        font-size: 12px;
    }  

    #form{
        margin: 51px ;
    }

    #div_second_1{
    padding:25px 0px;
    }

    #div_second_5{
        width: 200px;
        height: 200px;
    }

    #div_second_1{
        background-size: 280px;
        background-position-y: 50px;
        background-position-x: -160px;
    }

}

@media only screen and (max-width:450px){

    #section_first{
        height: fit-content;
    }


    #div_second{
        flex-direction: column;
    }
 
    #div_second_1{
        width:80%;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
    }

    #div_third{
        width: 80%;
        margin-bottom: 50px;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
    }

    .text_contact{
        font-size: 16px;
    }  


}



  @media screen and (min-device-width: 250px) and (max-device-width: 400px) {
    
    #section_first{
        height: 70vh;
    }

    #div_second_1{
    background-size: 300px;
    background-position-x: -170px;
    
    }

  }